<%- include('partials/head.ejs') %>

<section class="players">
    <% playerdata.players.forEach(player => { %>
    <article>
        <!-- player id -->
        <div><%= player.id %></div>
        <!-- Jersey Number -->
        <div><%= player.jerseyNumber %></div>
        <!-- Name -->
        <h2><%= player.name %></h2>
        <!-- Gender -->
        <div><%= player.gender %></div>
    </article>
    <% }) %>
</section>

<a href="/newPlayer">Voeg nieuwe speler toe</a>

<%- include('partials/foot.ejs') %>