<%- include('partials/head.ejs') %>

<form action="/newPlayer" method="post" class="newplayer--form" name="newplayerform">
	<div class="form-field">
		<label>
			Name
			<input type="text" name="name" required value="<%= locals.values?.name ?? '' %>" />
		</label>
	</div>
	
	<div class="form-field"><label>
		Gender
		<input type="text" name="gender" required value="<%= locals.values?.gender ?? ''%>" />
	</label></div>
	<div class="form-field">
		<label>
			Jersey Number
			<input type="text" name="jerseyNumber" required value="<%= locals.values?.jerseyNumber ?? ''%>" />
		</label>
	</div>
	<div class="form-field">
		<label>
			Questions
			<select name="question">
				<option disabled selected>--- Select ---</option>
	
				<% if (typeof questions !== "undefined") { %>
					<% questions.forEach(question => { %>
						<option value="<%= question.id %>"><%= question.title %></option>	
					<% }) %>
				<% } else { %>
					<p>Geen questions beschikbaar.</p>
				<% } %>
				
			</select>
		</label>
	</div>
	
	
	<div class="form-field">
		<label>
		Answer
		<input type="text" name="content" required value="<%= locals.values?.content ?? ''%>" />
	</label>
</div>
	
<div class="form-field-buttons">
	<button type="submit">Create</button>
	<a href="/">Terug naar homepagina</a>
</div>
	
</form>



<%- include('partials/foot.ejs') %>